<launch>
	<node pkg="rxtools" type="rxplot" name="plot_effort" args=" -b 30 -p 30 /effort/data[0]:data[1]:data[2]:data[3]:data[4]" />
	<node pkg="rxtools" type="rxplot" name="plot_flow" args=" -b 30 -p 30 /flow/data[0]:data[1]:data[2]:data[3]:data[4]" />
	<node pkg="rxtools" type="rxplot" name="plot_angles" args=" -b 30 -p 30 /angl/data[3]:data[4]:data[5]:data[6]:data[7]" />
	<node pkg="rxtools" type="rxplot" name="plot_substate" args=" -b 30 -p 30 /substate/data[3]:data[4]:data[5]:data[6]:data[7]" />
</launch>
